.@{namespace}checkbox {
  display: inline-block;
  position: relative;
  font-family: BoostFont;
  border: solid 1px #d4d4d4;
  background-color: #fff;
}

.@{namespace}checkbox-checked {
  border: none;
  background-color: #2eb6aa;
  border: solid 1px #2eb6aa;
}

.@{namespace}checkbox-checked:before {
  .font(@font-check);
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: absolute;
}

.@{namespace}checkbox-default {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.@{namespace}checkbox-default:before {
  top: 0;
  left: 2px;
}

.@{namespace}checkbox-square {
  width: 19px;
  height: 19px;
}

.@{namespace}checkbox-square:before {
  top: 0;
  left: 1px;
}


