*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.boost-center {
  text-align: center;
}
/*-----ui start-----*/
.boost-fixedBar {
  width: 100%;
  position: fixed;
  height: 35px;
  line-height: 35px;
  background-color: #ddd;
}
.boost-fixedBar-top {
  top: 0;
}
.boost-fixedBar-bottom {
  bottom: 0;
}
