@slider-padding-width: 10px;
@slider-font-size: @boost-font-size-nav;
@slider-font-size-small: @boost-font-size-link;

.@{namespace}slider{
	position: relative;
	overflow: hidden;
	height: 100%;
}

.@{namespace}slider:after{
	content: '';
	display: block;
	width: 100%;
	padding-top: 50%;
}

.@{namespace}slider .@{namespace}slides{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

/*.@{namespace}slider .@{namespace}slides:after{
   content:"";
   clear:both;
   display: table;
}*/

.@{namespace}slider .@{namespace}slides li{
	list-style: none; 
	position: absolute;
	z-index: 1;
	display: block;
	width:100%;
	height: 100%;
}

.@{namespace}slider .@{namespace}slides li img{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}

.@{namespace}slider ol{
	position: absolute;
	padding:0;
	line-height: 0;
	z-index: 3;	
}

.@{namespace}slider ol li{
	display: inline-block;
	margin: 0 6px;
}

.@{namespace}slider ol li a{
	width: 8px;
	height: 8px;
	display: block;
}

.@{namespace}slider ol li a.@{namespace}slider-active{
	background-color: #0066cc;
}

/**
 * Theme:	a1	底部圆形点
 * 
 */

.@{namespace}slider-a1 ol{
	width:100%;
	text-align: center;
	bottom: 5px;	
}

.@{namespace}slider-a1 ol li a{
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}


/**
 *  Theme: a2  底部方块点
 */

.@{namespace}slider-a2 ol{
	width:100%;
	text-align: center;
	bottom: 5px;	
}

.@{namespace}slider-a2 ol li a{
	background-color: rgba(255,255,255,.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(255,255,255,.3);
	box-shadow: inset 0 0 3px rgba(255,255,255,.3);
}



/* 底部标题 */

.@{namespace}slider .@{namespace}slides li .@{namespace}slider-title{
	background-color: rgba(0,0,0,.6);
	position: absolute;
	bottom: 0;
	padding: 8px 60px 8px @slider-padding-width;
	width: 100%;
	color: #fff;
	display: block;
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.@{namespace}slider-title ol{
	width:100%;
	text-align: right;
	bottom: 5px;	
	margin: 0 0 5px;
}

.@{namespace}slider-title ol li{
	display: inline-block;
	margin: 0 6px;
  &:last-child {
    margin-right: 10px;
  }
}

.@{namespace}slider-title ol li a{
	width: 8px;
	height: 8px;
	display: block;
	background-color: rgba(255,255,255,.5);
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 3px rgba(255,255,255,.3);
	box-shadow: inset 0 0 3px rgba(255,255,255,.3);
}

.@{namespace}slider-title ol li a.@{namespace}slider-active{
	background-color: #0066cc;
}



