@push-font-color: @color-font;
@push-font-gray: @color-font-grey;
@push-font-white: @color-white;

.@{namespace}push{
    margin: 0 6px;
    p{
        margin: 0;
    }
}
.@{namespace}push-box{
    border: 1px solid #ddd;
    padding-top: 10px;
}
.@{namespace}push-title{
    font-size: 16px;
    color: @push-font-color;
    line-height: 18px;
    margin: 0 10px 0 10px;
    font-weight: normal;
}
.@{namespace}push-assist{
    font-size: 12px;
    line-height: 20px;
    color: @gray-light;
    padding: 0 0 5px 10px;
}
.@{namespace}push-desc{
    font-size: 14px;
    line-height: 18px;
    color: @push-font-gray;
    padding: 8px 10px;
    
}
.@{namespace}push-link{
    font-size: 14px;
    color: @push-font-color;
    height: 39px;
    line-height: 39px;
    background: #fafafa;
    padding-left: 10px;
    &:after{
        float: right;
        .font(@font-left);
        content: "\e79a";
        margin-right: 5px;
    }
}
.@{namespace}push-time{
    font-size: 12px;
    color: @push-font-gray;
    line-height: 26px;
    margin-left: 10px;
    padding-left: 10px;
    &:before{
        .font(@font-left);
        content: "\e797";
        margin-right: 4px;
    }
}
.@{namespace}push-wrap{
    position: relative;
    margin: 0 10px;
    .@{namespace}push-title{
        line-height: 24px;
        margin-top: 7px;
        color: @push-font-white;
    }
    .@{namespace}push-assist{
        color: @push-font-white;
    }
    img{
        width: 100%;
        height: 173px;
    }
}
.@{namespace}push-mask{
    height: 53px;
    width: 100%;
    background: rgba(92,92,92,0.5);
    position: absolute; 
    bottom: 0;
    left: 0;
}
.@{namespace}push-img{
    width: 85px;
    height: 53px;
    float: right;
    margin-right: 10px;
}
.@{namespace}push-border{
    border-bottom: 1px solid #ddd;
}
.@{namespace}push-theme{
    display: flex;
    overflow: hidden;
    .@{namespace}push-img{
        margin-top: 10px;
    }
}
.@{namespace}push-descbox{
    flex: 1;
    .@{namespace}push-desc{
        color: @push-font-color;
        padding-bottom: 2px;
    }
}