*,
*:before,
*:after {
  box-sizing: border-box;
}
.blend-picture img {
  width: 100%;
}
.blend-picture-radius img {
  border-radius: 10px;
}
/*
* picture theme default
*/
.blend-picture-default {
  margin: 10px;
  position: relative;
}
.blend-picture-default img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 3px;
  margin: 10px auto;
}
.blend-picture-default .blend-picture-title-default {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333333;
}
.blend-picture-default .blend-picture-title-cover {
  display: block;
  width: calc(100% - 6px);
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  bottom: 3px;
  left: 3px;
}
/*
* picture theme full, 满屏
*/
.blend-picture-full {
  margin: 0;
  padding: 0;
  position: relative;
}
.blend-picture-full img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}
.blend-picture-full .blend-picture-title-default {
  text-align: center;
  font-size: 14px;
  color: #333333;
}
.blend-picture-full .blend-picture-title-cover {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  bottom: 0px;
  left: 0;
}
.blend-picture-one {
  margin: 0 10px;
  background: #ffffff;
}
.blend-picture-one img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 2px;
  border: 1px solid #dfdfdf;
}
.blend-picture-two {
  margin: 0 10px;
  background: #ffffff;
  position: relative;
}
.blend-picture-two img {
  display: block;
  max-width: 100%;
  height: auto;
}
.blend-picture-two figcaption {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  bottom: 0px;
  left: 0;
}
