@tab-bottom-color: #d4d6d7;
@tab-background-color: #fafafa;
@active-border-color: #2eb6aa;

@tab-nav-height: 42px;
@tab-nav-font-size: @boost-font-size-nav;

.@{namespace}tabnav {
  display: -webkit-box;
  height: @tab-nav-height;
  border-bottom: 1px solid @tab-bottom-color;
  background-color: @tab-background-color;
}
.@{namespace}tabnav-item {
  display: block;
  -webkit-box-flex: 1;
  width: 0;
  text-decoration: none;
  position: relative;
}
.@{namespace}tabnav-item:after {
  width: 0;
  height: 20px;
  content: " ";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  /*background-color: #efefef;*/
  border-left: 1px solid #efefef;
}
.@{namespace}tabnav-item:last-child:after {
  display: none;
}
.@{namespace}tabnav-dash .@{namespace}tabnav-item:after {
  border-left-style: dashed;
}

.@{namespace}tabnav-item-text {
  font-size: 14px;
  line-height: @tab-nav-height;
  height: @tab-nav-height;
  color: @font-color;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  .highlight();
}

.@{namespace}tabnav-item-active {
  .@{namespace}tabnav-item-text{
    border-bottom: 2px solid @active-border-color;
  }
}

