.@{namespace}list {
  overflow: hidden;
}

.@{namespace}list-card {
  margin: 6px;
  border: 1px solid @color-border;
  .@{namespace}list-item:last-child {
    border: none;
  }
}

.@{namespace}list-item {
  text-decoration: none;
  line-height: 46px;
  height: 46px;
  font-size: 15px;
  color: @color-font;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid @color-border;
}

.@{namespace}list-animation {
  .@{namespace}list-item{
    -webkit-transition: height .3s ease-in 0;
    transition: height .3s ease-in 0;
  }
  .@{namespace}list-item-content{
    -webkit-transition: left .2s ease-in 0;
    transition: left .2s ease-in 0;
  }

}


.@{namespace}list-item-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #FFFFFF;
}

.@{namespace}list-item-delete {
  z-index: 1;
  position: absolute;
  background-color: @color-red;
  text-decoration: none;
  width: 54px;
  line-height: 46px;
  display: block;
  height: 46px;
  font-size: 13px;
  color: @color-white;
  text-align: center;
  .text-overflow();
  .highlight();
  right: 0;
  top: 0;
}



