.@{namespace}map-info{
    display: block;
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    margin: 1px;
    background-color: #fff;
    padding: 14px 0;
}
.@{namespace}map-ibody::after,.@{namespace}map-ibody::before{
    font-family: "boostfont";
    content: "\e600";
    position:absolute;
    left: 2px;
    top:50%;
    color: #c0c0c0;
  font-size: 20px;
  margin-top: -10px;
  line-height: 20px;
}
.@{namespace}map-ibody::before{
    content: "\e604";
    left:auto;
    right: 4px;
}
.@{namespace}map-ihead,.@{namespace}map-ibody{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
  padding: 0 26px;
}
.@{namespace}map-ihead{
    font-size: 16px;
    color: #262626;
    margin-bottom: 4px;
    line-height: 20px;
}
.@{namespace}map-ibody{
    font-size: 14px;
    color:#777;
    line-height: 18px;
  position: relative;
}
/*可选择行数，多出...*/
.@{namespace}map-info .clamp1 {
    -webkit-line-clamp: 1;
  height: 18px
}
.@{namespace}map-info .clamp2 {
    -webkit-line-clamp: 2;
  height: 36px;
}
.@{namespace}map-info .clamp3 {
    -webkit-line-clamp: 3;
  height: 54px;
}