
@font-size-header: @boost-font-size-titlebar;
@font-size-header-lr: @boost-font-size-link;
@header-height: 44px;

.@{namespace}boost .@{namespace}header {
  display: none;
}

.@{namespace}header {
  //position: fixed;
  //width:100%;
  height: @header-height;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  display: -webkit-box;
  display: -moz-box;
  background-color: @color-titlebar-background;
  color: @color-titlebar;
  width: 100%;
}

.@{namespace}header a{
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.@{namespace}header-left,
.@{namespace}header-title,
.@{namespace}header-right {
  display: block;
}

.@{namespace}header-left, .@{namespace}header-right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 0;
  font-size: @font-size-header-lr;
}
.@{namespace}header-left {
  padding-left: 7px;
  text-align: left;
}
.@{namespace}header-title {
  text-align: center;
  line-height: @header-height;
}

.@{namespace}header-right {
  padding-right: 10px;
  text-align: right;
}

.@{namespace}header-item {
  /*margin: 0 5px;*/
  color: @color-titlebar;
  .highlight();
  height:28px;
}

.@{namespace}header-title .@{namespace}header-item {
  font-size: @font-size-header;
}

.@{namespace}action-back-icon {
  .font(@font-left);
  color: @color-titlebar-backicon;
  font-size: 16px;
  content: "";
  em{
    font-size:22px;
    font-style:normal
  }
}

//.@{namespace}header {
//  position: relative;
//  height: 44px;
//  //background-color: @black;
//  background-color: rgba(102, 71, 215, 0.45);
//  //color:@white;
//  color:rgba(234, 41, 71, 0.65);
//  line-height: 44px;
//  font-size: 18px;
//}
//
//.@{namespace}header-back {
//  display: inline-block;
//  width: 17px;
//  height: 17px;
//  border-left: 3px solid @white;
//  border-bottom: 3px solid @white;
//  position: absolute;
//  left: 20px;
//  top: 13px;
//  .highlight();
//  .rotate(45deg);
//}
