@namespaces: boost;
@global-primary:#0e90d2;
@black:#000;
@white:#fff;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}
.highlight() {
  -webkit-tap-highlight-color: transparent;
}



.@{namespaces}header {
  position: relative;
  height: 44px;
  background-color: @black;
  color:@white;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
}

.@{namespaces}header-back {
  display: inline-block;
  .highlight();
  width: 17px;
  height: 17px;
  border-left: 3px solid @white;
  border-bottom: 3px solid @white;
  position: absolute;
  left: 20px;
  top: 13px;
  .rotate(45deg);
}
