@formgroup-bottom-color: #EDEDED;
@formgroup-background-color: #FFFFFF;
@formgroup-font-color: #262626;
@formgroup-placeholder-color: #999999;
@active-border-color: #2eb6aa;
@error-border-color: #2eb6aa;
@formgroup-label-width: 85px;
@formgroup-label-padding-left: 15px;
@formgroup-label-font: @boost-font-size-link;
@formgroup-height: 40px;
@formgroup-line-height: 40px;
@formgroup-btn: @boost-font-size-nav;
@formgroup-icon: "\e878";



.@{namespace}form{
  border-top: 1px solid @formgroup-bottom-color;
  border-bottom: 1px solid @formgroup-bottom-color;
  .@{namespace}formgroup {
    border-bottom: 1px solid @formgroup-bottom-color;
    &:last-child {
      border-bottom-color: transparent;
    }
  }
}

.@{namespace}formgroup {
  display:-webkit-box; 
  display:box;
  background-color: @formgroup-background-color;
}

.@{namespace}formgroup-label {
  color: @formgroup-font-color;
  width: @formgroup-label-width;
  display: block;
  padding-left: @formgroup-label-padding-left;
  height: @formgroup-height;
  font-size: @formgroup-label-font;
  line-height: @formgroup-line-height;
  border: none;
}

.@{namespace}formgroup-input {
  -webkit-box-flex: 1; 
  box-flex: 1;
  height: @formgroup-height;
  font-size: @formgroup-label-font;
  padding: 9px 10px;
  line-height: 15px;
  display: block;
  width: 0;
  border: none;
  -webkit-appearance: none;
  color: @formgroup-font-color;
  &::-webkit-input-placeholder {
    color: @formgroup-placeholder-color;
  }
}


.@{namespace}formgroup-select {
  -webkit-box-flex: 1; 
  box-flex: 1;
  height: @formgroup-height;
  font-size: @formgroup-label-font;
  padding: 9px 10px;
  line-height: 15px;
  /*background: url("../images/select.png") right center no-repeat #FFF;*/
  border: none;
  width: 0;
  display: block;
  -webkit-appearance: none;
}

.@{namespace}formgroup-btn {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0;
}

.@{namespace}formgroup-input-error {
  border-color: #FFF;
}

.@{namespace}form-box{
  border: 1px solid #d4d6d7;
  .@{namespace}formgroup-label{
      height: 45px;
      line-height: 45px;
      text-align:justify;
      padding-left: 9px;
      width: 70px;
      &:after{
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: 0;
        content: '';
        vertical-align: top;
      }
  }
  .@{namespace}formgroup-input {
      height: 45px;
      line-height: 45px;
  }
  .@{namespace}formgroup-ico{
    line-height: 45px;
    width: 30px;
    height: 100%;
    display: block;
    text-align: center;
    color: #c0c0c0;
    &:after{
      content: @formgroup-icon !important;
      .font(@font-left);
    }
  }
}