@badge-primary:     @brand-primary;
@badge-secondary:   @brand-secondary;
@badge-success:     @brand-success;
@badge-info:        @brand-info;
@badge-warning:     @brand-warning;
@badge-danger:      @brand-danger;
@badge-default:     @color-badge;
@reddot-bg: #f00;


.@{namespace}badge {
    display: inline-block;
    min-width: 20px;
    padding: 0 2px;
    font-size: 10px;
  height: 14px;
  line-height: 12px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: @badge-default;
    border-radius: 0;
    border: solid 1px;

    &.@{namespace}badge-empty {
        padding: 0 9px;
        background-color: transparent;
        color: @badge-default;
    }
  &.@{namespace}badge-large {
    height: 18px;
    line-height: 16px;
  }
}

.@{namespace}badge-primary {
    background-color: @badge-primary;
    &.@{namespace}badge-empty {
        color: @badge-primary;
    }
}
.@{namespace}badge-secondary {
    background-color: @badge-secondary;
    &.@{namespace}badge-empty {
        color: @badge-secondary;
    }
}

.@{namespace}badge-success {
    background-color: @badge-success;
    &.@{namespace}badge-empty {
        color: @badge-success;
    }
}
.@{namespace}badge-info {
    background-color: @badge-info;
    &.@{namespace}badge-empty {
        color: @badge-info;
    }
}
.@{namespace}badge-warning {
    background-color: @badge-warning;
    &.@{namespace}badge-empty {
        color: @badge-warning;
    }
}
.@{namespace}badge-danger {
    background-color: @badge-danger;
    &.@{namespace}badge-empty {
        color: @badge-danger;
    }
}

.@{namespace}reddot{
    position: absolute;
    border-radius: 1000px;
    height: 1.4rem;
    text-align: center;
    min-width: 1.4rem;
    line-height: 1.2;
    right: -0.7rem;
    top:-0.7rem;
    z-index: 10000;
    background-color: @reddot-bg;
    padding: 0 .2rem;
    color:#fff;
}
