@badge-primary:     @brand-primary;
@badge-secondary:   @brand-secondary;
@badge-success:     @brand-success;
@badge-info:        @brand-info;
@badge-warning:     @brand-warning;
@badge-danger:      @brand-danger;
@badge-default:     @badge-secondary;


.@{namespace}badge {
    display: inline-block;
    min-width: 20px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: @badge-default;
    border-radius: 0;
    border: solid 1px;

    &.@{namespace}badge-empty {
        padding: 2px;
        background-color: transparent;
        color: @badge-default;
    }
}

.@{namespace}badge-primary {
    background-color: @badge-primary;
    &.@{namespace}badge-empty {
        color: @badge-primary;
    }
}
.@{namespace}badge-secondary {
    background-color: @badge-secondary;
    &.@{namespace}badge-empty {
        color: @badge-secondary;
    }
}

.@{namespace}badge-success {
    background-color: @badge-success;
    &.@{namespace}badge-empty {
        color: @badge-success;
    }
}
.@{namespace}badge-info {
    background-color: @badge-info;
    &.@{namespace}badge-empty {
        color: @badge-info;
    }
}
.@{namespace}badge-warning {
    background-color: @badge-warning;
    &.@{namespace}badge-empty {
        color: @badge-warning;
    }
}
.@{namespace}badge-danger {
    background-color: @badge-danger;
    &.@{namespace}badge-empty {
        color: @badge-danger;
    }
}
