@namespace:~"blend-";

.@{namespace}gallery-mask{
    visibility:hidden;
	width:100%;
    height:100%;
    position: absolute;
    overflow: hidden;
    background: rgba(34, 34,34,1);
    top: 0;
    left: 0;
}

.@{namespace}gallery-top {
    width:100%;
    height:40px;
    position:absolute;
    top:0;
    color:#fff;
    background:rgba(0, 0,0,0.5);
    -webkit-transform: translate3d(0px, -40px, 0px);
    -webkit-transition:translate 0.5s;
}

.@{namespace}gallery-top-back {
    display:block;
    width:40px;
    height:40px;
    background:url(http://static.qyy.baidu.com/static/runtime/newlego/gallery/img/gallery-back2_adaa839.png) no-repeat 10px 10px;
    background-size: auto 20px;
}

.@{namespace}gallery-bottom {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    color:"#fff";
    background:rgba(0, 0,0,0.5);
    -webkit-transform: translate3d(0px, 100px, 0px);
    -webkit-transition:translate 0.5s;
}

.@{namespace}gallery-bottom-title {
    height: 30px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    margin-left:11px;
}

.@{namespace}gallery-bottom-info-wrap {
    margin: 0 11px 5px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
}

.@{namespace}gallery-bottom-info {
    color:#fff;
    font-size:14px;
}


.@{namespace}gallery-bottom-page {
    display:inline-block;
    position: absolute;
    right: 11px;
    top: 0;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color:#fff;
}





/****************/

.@{namespace}gallery-dom {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.@{namespace}gallery-pic {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

.@{namespace}gallery-img > img {
    max-width: 100%;
    max-height: 100%;
}

.@{namespace}gallery-btn-outer {
    position: absolute;
    width: 3em;
    height: 3em;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    display: block;
    background-color: rgb(119, 119, 119);
}

.@{namespace}gallery-btn-outer.left {
    left: 5%;
}

.@{namespace}gallery-btn-outer.right {
    right: 5%;
}

.@{namespace}gallery-btn-inner {
    position: absolute;
    width: 50%;
    height: 50%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.@{namespace}gallery-btn-outer.left > .islider-btn-inner {
    -webkit-transform: rotate(-45deg);
}

.@{namespace}gallery-btn-outer.right > .islider-btn-inner {
    -webkit-transform: rotate(135deg);
}

.@{namespace}gallery-dot-wrap {
    width: 80%;
    height: 10%;
    margin: 0px auto;
    position: absolute;
    padding: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
    text-align: center;
}
.@{namespace}gallery-dot {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    list-style-type: none;
    margin: 5px;
}

.@{namespace}gallery-dot.active {
    background-color: #fff;
}