
.nav-item-column(@num) {
  width: percentage(1 / @num);
  &:nth-child(@{num}n):after {
    display: none;
  }

}

.@{namespace}nav {
  padding: 7px 0;
  border-bottom: 1px solid @border-color;
  overflow: hidden;
  .clearfix();
}

.@{namespace}nav-animation {
  -webkit-transition:height .3s ease-in 0;
  transition:height .3s ease-in 0;
}

.@{namespace}nav-item {
  text-decoration: none;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  color: @font-color;
  text-align: center;
  float: left;
  .text-overflow();

  &:after {
    content: " ";
    width: 0;
    border-right: 1px dotted @black;
    display: block;
    height: 15px;
    float: right;
    margin-top: 7px;
  }
  &:last-child:after {
    display: none;
  }

  &.@{namespace}nav-item-hide {
    display: none;
  }
}

.@{namespace}nav-expand {
  float: right;
  text-decoration: none;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  color: @font-color;
  text-align: center;
  .text-overflow();
}

.@{namespace}nav-column-3 {
  .@{namespace}nav-item, .@{namespace}nav-expand {
    .nav-item-column(3);
  }

}

.@{namespace}nav-column-4, .@{namespace}nav-expand {
  .@{namespace}nav-item {
    .nav-item-column(4);
  }
}

.@{namespace}nav-column-5, .@{namespace}nav-expand {
  .@{namespace}nav-item {
    .nav-item-column(5);
  }
}


