@loading-width: 40px;
@loading-zindex: 100;
@loading-duration: .6s;

.@{namespace}loading{
  height: @loading-width;
  width: @loading-width;
  position: fixed;
  margin: -20px 0 0 -20px;
  left: 50%;
  top: 50%;
  z-index: @loading-zindex;
  -webkit-animation: rotation @loading-duration infinite linear;
  animation: rotation @loading-duration infinite linear;
  border-left: 4px solid rgba(47,60,87,.15);
  border-right: 4px solid rgba(47,60,87,.15);
  border-bottom: 4px solid rgba(47,60,87,.15);
  border-top: 4px solid rgba(47,60,87,.75);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

