@namespace:~"boost-";
@global-primary:#0e90d2;
@white:#fff;

*,
*:before,
*:after {
    box-sizing: border-box;
}
/*-----ui start-----*/
.@{namespace}loading{
  background:rgba(0,0,0,0.6);
  width:50px;
  height:50px;
  position: fixed;
  margin: -25px 0 0 -25px;
  left: 50%;
  top: 50%;
  border-radius:6px;
}
.@{namespace}loading:after {
  content:'';
  height: 30px;
  width: 30px;
  display: block;
  z-index: 100;
  text-align:center;
  margin:10px 0 0 10px;
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 4px solid rgba(255,255,255,0.3);
  border-right: 4px solid rgba(255,255,255,0.3);
  border-bottom: 4px solid rgba(255,255,255,0.3);
  border-top: 4px solid rgba(255,255,255,1);
  border-radius: 100%;
}
@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

