@namespace:~"boost-";
@global-primary:#0e90d2;
@white:#fff;

*,
*:before,
*:after {
    box-sizing: border-box;
}
/*-----ui start-----*/
.@{namespace}loading{
  height: 40px;
  width: 40px;
  position: fixed;
  margin: -20px 0 0 -20px;
  left: 50%;
  top: 50%;
  z-index: 99;
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 4px solid rgba(47,60,87,.15);
  border-right: 4px solid rgba(47,60,87,.15);
  border-bottom: 4px solid rgba(47,60,87,.15);
  border-top: 4px solid rgba(47,60,87,.75);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

