@namespace:~"boost-";
@global-primary:#0e90d2;
@white:#fff;

*,
*:before,
*:after {
    box-sizing: border-box;
}
.@{namespace}center{
  text-align:center;
}
/*-----ui start-----*/
@border:1px solid #ddd;
@heightLarger:35px;
@heightSmall:30px;
@paddingLarger: 15px;
@paddingSmall: 10px;
@fontLarger:16px;
@fontSmall:14px;
@lineheight:25px;

.@{namespace}panel-border{
  border-left:@border;
  border-right:@border;
}
.@{namespace}panel-header{
  height: @heightLarger;
  line-height: @heightLarger;
  border-top:@border;
  border-bottom:@border;
  padding: 0 @paddingLarger;
  font-size: @fontLarger;
}
.@{namespace}panel-body{
  border-bottom: @border;
  font-size: @fontSmall;
  padding: @paddingSmall @paddingLarger;
  line-height: @lineheight;
}
.@{namespace}panel-footer{
  border-bottom: @border;
  height: @heightSmall;
  line-height: @heightSmall;
  padding: 0 @paddingLarger;
}

/*需要限制行数时，需要使用该类，并配合.@{namespace}panel-clamp确定具体行数*/
.@{namespace}panel-box{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
/*可选择行数，多出...*/
.@{namespace}panel-clamp1{
  -webkit-line-clamp: 1;
}
.@{namespace}panel-clamp2{
  -webkit-line-clamp: 2;
}
.@{namespace}panel-clamp3{
  -webkit-line-clamp: 3;
}
 



