@separator-color: @gray-lighter;
@separator-line-height: 2px;
@separator-width: 100%;
@separator-rect-height: 20px;
@separator-rect2-border-color: darken(@separator-color, 5%);
@separator-rect1-border-top-color: darken(@separator-color, 7%);
@separator-rect1-border-top2-color: darken(@separator-color, 2%);

.@{namespace}separator{
      width: @separator-width;
      border-top: @separator-line-height solid @separator-color;
}
.@{namespace}separator-dashed{
    border-top: @separator-line-height dashed @separator-color;
}

.@{namespace}separator-rect1{
      height: @separator-rect-height;
      box-sizing: border-box;
      background: @separator-color;
      border-top: 1px solid @separator-rect1-border-top-color;
      .@{namespace}separator-rect1-top{
          border-top: 2px solid @separator-rect1-border-top2-color;
      }
}
.@{namespace}separator-rect2{
    height: @separator-rect-height;
    box-sizing: border-box;
    background: @separator-color;
    border-top: 1px solid @separator-rect2-border-color;
    border-bottom: 1px solid @separator-rect2-border-color;
}